html,body {
    margin:0;
    font-family:Arial;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.speelbord {
    display: flex;
    flex-direction: column;
}

.answers {
    display: flex;
    flex-direction: column;
}

.image img {
    max-width: 50%;
}

.answer {
    display: flex;
    flex-direction: row;
}

.answertext {
    margin-left: 5px;
}

.btn button  {
    width: 50px;
}